/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.quiz-container {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto;
}

h1, h2 {
    color: #FFFFFF;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
}

button {
    background-color: #6200EE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #3700B3;
}

#feedback {
    margin-top: 10px;
    font-size: 18px;
    color: #BB86FC;
}

#score-container {
    margin-top: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    input[type="text"] {
        width: 90%;
    }

    button {
        width: 90%;
        padding: 12px;
    }

    .quiz-container {
        padding: 15px;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 12px;
    }

    .quiz-container {
        padding: 10px;
        margin: 5px;
    }
}

.footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    color: #E0E0E0;
    margin: 0;
}
